<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Todos App</title>
  <link rel="stylesheet" href="/main.dist.css">
</head>
<body>
  <nav class="site-nav" role="navigation" aria-label="main navigation">
    <a class="site-nav__home" href="/">Todos</a>
    <a class="site-nav__signup button button--elevated button--pink" href="/signup">Sign up</a>
    <a class="site-nav__login button button--elevated button--white-with-violet-text" href="/login">Log in</a>
  </nav>
  {{> yield }}
  <script src="/main.dist.js"></script>
</body>
</html>