<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="/main.dist.css">
</head>
<body>
  <nav class="site-nav" role="navigation" aria-label="main navigation">
    <a class="site-nav__home button is-info" href="/">
      <strong>Home</strong>
    </a>
    <a class="site-nav__signup button is-primary" href="/signup">
      <strong>Sign up</strong>
    </a>
    <a class="site-nav__login button is-light" href="/login">
      Log in
    </a>
  </nav>
  {{> yield }}
  <script src="/main.dist.js"></script>
</body>
</html>