.DS_Store

node_modules/
npm-debug.log

_remake/dist/*
!_remake/dist/js
_remake/dist/js/*
!_remake/dist/js/remake/

_remake-uploads
!_remake-uploads/.gitkeep

# remove the next line after creating an app in the app/ directory
app/
!app/.gitkeep

.remake
.cache/

_remake/.sessions
