<div
  class="todos__todo"
  data-o-type="object"
  data-o-key-id="{{todo.id}}"
  data-o-key-text="{{todo.text}}"
  data-w-key-name="innerText"
  data-i-editable-with-remove="text(text-single-line)"
>todo text</div>