<form action="/user/forgot" method="post">
  <h1>Forgot Password</h1>
  <input type="text" name="username" placeholder="Your username" required>
  <button type="submit">Send reset password link</button>
</form>
