{{#if pageHasAppData}}
  <div
    class="page"
    data-o-type="object"
  >
    <h2 class="page__heading">Todos</h2>
    <div class="todos" data-o-key="todos" data-o-type="list">
      {{#forEachItem data.todos itemName="todo"}}
        <div 
          data-o-type="object" 
          data-l-key-text=""
          data-i-editable=""
        >{{todo.text}}</div>
      {{/forEachItem}}
    </div>
    <button data-i-new="todo .todos">Add Todo</button>
  </div>
{{else}}
  <div class="page">
    <h2 class="page__heading">Welcome to Todos!</h2>
    {{#if currentUser}}
      <a class="button" href="/{{currentUser.details.username}}">Go to your todo lists</a>
    {{else}}
      <a class="button" href="/signup">Sign up!</a>
    {{/if}}
  </div>
{{/if}}