<div class="container">
  <div class="columns is-centered is-desktop m-t-64">
    <div class="column is-one-quarter-desktop">
      <h3 class="is-size-3 m-b-32">Log in</h3>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>
      <div class="field m-b-24">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>