<a
  class="todo-lists__item"
  data-o-type="object"
  data-o-key-id="{{todoList.id}}"
  data-l-key-name
  href="{{pageAuthor.details.username}}/todo-list/{{todoList.id}}"
>
  <span
    data-l-target-name
  >{{todoList.name}}</span>
  <span 
    class="todo-lists__edit js-pd hide-if-not-page-author" 
    href="#"
    data-i-editable=""
  >Edit</span>
</a>