<div data-o-type="object" data-l-key-uploaded-image="img src">
  <input data-i="triggerSaveOnChange" type="file" name="uploadedImage">
  <img style="display: block; width: 50%;" src="{{uploadedImage}}">
</div>



<style>
  .container {padding: 2rem;}
  .nav {display: none;}
</style>