<div data-o-type="object" data-l-key-some-text="">
  <input data-i="" type="text" name="someText">
  <div data-l-target-some-text="">{{someText}}</div>
</div>

<br><br><br><br>

<div data-o-type="object" data-l-key-uploaded-image="">
  <input data-i="" type="file" name="uploadedImage">
  <img data-l-target-uploaded-image="" src="{{uploadedImage}}">
</div>



