<div data-o-type="object" data-l-key-some-text="">
  <input data-i="" type="text" name="someText">
  <div data-l-target-some-text="">{{someText}}</div>
</div>

<br><br><br><br>

<div data-o-type="object" data-l-key-uploaded-image="img src">
  <input data-i="triggerSaveOnChange" type="file" name="uploadedImage">
  <img src="{{uploadedImage}}">
</div>



