<input data-i type="file" name="someFile">

<div 
  data-o-type="object"
  data-l-key-pet
>
  <button data-i data-i-key="pet" data-i-value="cat">cat</button>
  <button data-i data-i-key="pet" data-i-value="dog">dog</button>
  <div data-l-target-pet></div>
</div>

<div 
  data-o-type="object"
  data-l-key-some-text
  data-w-key-some-text="id"
>
  <textarea data-i name="someText"></textarea>
  <div data-l-target-some-text></div>
</div>