<div class="page">
  <h2 class="page__heading">Welcome to Todos!</h2>
  {{#if currentUser}}
    <a class="button" href="/{{currentUser.details.username}}">Go to your todo lists</a>
  {{else}}
    <a class="button" href="/signup">Sign up!</a>
  {{/if}}
</div>
