<div class="front-page">
  <div class="front-page__preview-container">
    <img class="front-page__preview" src="/images/kanban-screenshot.png">
  </div>
  <h2 class="front-page__heading">Welcome to TaskFellow</h2>
  {{#if currentUser}}
    <a class="button button--large" href="/{{currentUser.details.username}}">Go to your board</a>
  {{else}}
    <a class="button button--large" href="/user/signup">Sign up!</a>
  {{/if}}
</div>
