<form action="/user/login" method="post">
  <h1>Log in</h1>
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required>
  <a href="/user/forgot">Forgot your password?</a>
  <button type="submit">Log in</button>
</form>
