<form action="/user/signup" method="post">
  <h1>Sign up</h1>
  <input type="text" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Sign up</button>
</form>
