.site-nav
  display: flex
  margin: -1.5rem -1.5rem 0 -1.5rem
  padding: 1.5rem
  background-color: $oc-violet-8
.site-nav__home
  text-decoration: none
  font-size: 1.5rem
  color: #fff
  &:hover
    text-decoration: underline
.site-nav__signup
  margin-left: auto
  margin-right: 1rem
.site-nav__login